.content {
  width: 50%;
  background-color: #1976d2;
  opacity: 0.8;
  border-radius: 8px;
}

h1, h2 {
  text-transform: uppercase;
  font-family: verdana;
  font-size: 3em;
  font-weight: 700;
  margin-top: 5%;
  color: #fff;
  text-shadow: 1px 1px 1px #000,
  1px 1px 1px #dd0031,
  1px 2px 1px #dd0031,
  1px 3px 1px #dd0031,
  1px 4px 1px #dd0031,
  1px 8px 6px rgba(16,16,16,0.4),
  1px 10px 10px rgba(16,16,16,0.2),
  1px 13px 35px rgba(16,16,16,0.2),
  1px 16px 60px rgba(16,16,16,0.4);
}

h2 {
  font-size: 2em;
}

button {
  display: block;
  margin: 3% auto auto;
}
